:root {
    --cor-primaria: #055a05;
    /* verde-floresta */
    --cor-secundaria: #f4a261;
    /* bege médio */
    --cor-destaque1: #264653;
    /* azul-escuro acinzentado */
    --cor-destaque2: #e9c46a;
    /* amarelo-claro dourado */

    --fonte-titulo: "Times New Roman", "Georgia", serif;
    --fonte-body: Arial, Helvetica, sans-serif;

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: var(--fonte-body);
        color: var(--cor-destaque1);
    }

    header,
    main,
    footer {
        width: 840px;
        margin: 0 auto;
    }

    h1,
    h2 {
        font-family: var(--fonte-titulo);
        color: var(--cor-primaria);
        text-align: center;
    }

    nav,
    p,
    section,
    article {
        margin: 16px;
        padding: 8px;
    }

    footer a {
        text-decoration: none;
    }

    .hero {
        position: relative;
    }

    .hero img {
        display: block;
        width: 100%;
        height: auto;

    }

    .hero h1 {
        position: absolute;
        top: 20px;
        width: 100%;
        padding: 20px;
        text-align: center;
        opacity: 0.7;
        background-color: var(--cor-destaque1);
        color: #fff;
    }

    .hero article {
        position: absolute;
    }

    .hero article img {
        float: right;
        width: 125px;
        border: var(--cor-destaque1);
        box-shadow: #264653;
        text-decoration: none;
    }