:root {
    --cor-de-fundo-do-titulo: #f06;
    --cor-do-texto-do-titulo: #333;
    --fonte-titulo: 'Monteserrat', Helvetica, sans-serif;
    --padding: 1rem;
    --border: 1px solid rgb(0 0 0 / 0.1);
}

nav {
    background-color: darkblue;
    padding: var(--padding);
    font: var(--fonte-titulo);
}

nav a {
    color: white;
    display: block;
    padding: 20px;

}

h1 {
    color: darkblue;
}

img {
    width: 150px;
    height: auto;
    border: var(--border);
    padding: var(--padding);
    box-shadow: 0 0 30px gray;
}

main p {
    padding: var(--padding);
}

main {
    max-width: 840px;
}

main img {
    width: 150px;
    height: auto;
    border: var(--border);
    padding: var(--padding);
    box-shadow: 0 0 30px gray;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: var(--border);
    /*1*/
    padding: var(--padding);
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

aside p {
    padding: 0;
}

footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
    font: var(--fonte-titulo);
}