* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-de-fundo-do-titulo: #f06;
    --cor-do-texto-do-titulo: #333;
    --fonte-titulo: 'Monteserrat', Helvetica, sans-serif;
    --padding: 1rem;
    --border: 1px solid rgb(0 0 0 / 0.1);
}

nav {
    background-color: darkblue;
    padding: var(--padding);
    font: var(--fonte-titulo);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;


}   

h1 {
    color: darkblue;
    border-bottom: 1rem;
    border-color: #000;
}

img {
    width: 150px;
    height: auto;
    border: var(--border);
    padding: var(--padding);
    box-shadow: 0 0 30px gray;
}

main p {
    padding: 0;
}

/*main {
    max-width: 840px;
}*/

main img {
    float: right;
    width: 150px;
    height: auto;
    border: var(--border);
    padding: var(--padding);
    box-shadow: 0 0 30px gray;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: var(--border);
    /*1*/
    padding: var(--padding);
    background-color: #eee;
    color: #333;
    text-align: center;
    position: relative;
}

aside img {
    position: relative;
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 50px;
    left: 100px;
    z-index: 1;
}

aside p {
    padding: 0;
}

footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
    font: var(--fonte-titulo);
}

/*Seletores de Classe*/

.caixa {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    background-color: burlywood;
    color: #000;

    clear: both;
}

p {
    padding: 0;
}
header, footer .grid {
    max-width: 840px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.grid { 
    display: grid;
    align-items: start;
    grid-template-columns: 20rem 1fr;
    gap: 1rem;
    margin-top: 1rem;
}

main { 
    grid-column: 2/3;
    margin: 1rem;
}

aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}